<div class="row">
  <div class="col-xs-12" style="text-align: left; background-color: #162b27; border-top-left-radius: 5px; border-top-right-radius: 5px; padding-bottom: 10px; border-color: #c9c47a; border-style: solid; border-width: 2px">
  	<h2 style="color: #c9c47a">About and F.A.Q</h2>
  </div>

  <div class="col-xs-12" style="text-align: left; background-color: #091511; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-color: #c9c47a; border-style: solid; border-top-width: 0;">
  	<div class="col-xs-12" style="text-align: left; border: 0 solid #05312d;">
  		<h3 style="color: #c9c47a">About</h3>
  		<p style="color: white">This web app was created by <a href="http://rithms.net">rithms</a> as an entry to the second Riot Games API Challenge. It was submitted as an entry to the third contest category - 'Develop a piece of software that creates value a benefit for players utilizing the recent release of the Item Set documentation.'</p>
  		<p style="color: white">This project is open source. The source code and documentation can be viewed on <a href="https://github.com/rithms/ItemSets.net">GitHub.</a></p>
	</div>

  <div class="col-xs-12" style="text-align: left; border: 0 solid #05312d;">
      <h3 style="color: #c9c47a">What are Featured Item Sets?</h3>
      <p style="color: white">Featured Item Sets are item sets generated from Featured Games. Featured ranked solo games are typically high elo games, so you will see a lot of item sets generated from your favorite pro player's builds</p>
  </div>

  <div class="col-xs-12" style="text-align: left; border: 0 solid #05312d;">
      <h3 style="color: #c9c47a">How are Item Sets Generated?</h3>
      <p style="color: white">The Item Sets found on this site are generated from build orders found in high elo games. Once a featured game ends, the build order of each player is analyzed. Items are placed into 2 categories, 'Starting Items', and 'Final Build'. From there, items from both categories are taken and added to another three categories, 'Offensive Items', 'Defensive Items', and 'Consumables'. Currently, an item is placed into the 'Offensive Items' category if it gives spell damage, CDR, attack damage, critical strike, attack speed, or lifesteal. Secondly, an item is placed into the 'Defensive Items' category if it gives health, armor, or magic resist. Lastly, an item is placed into the 'Consumables' category if it gives vision, or is a consumable item.</p>
      <p style="color: white">Please note the method for which item sets are generated could change in the future, as I work to improve this project.</p>
  </div>


  </div>
  
</div>
